/* ==========================================================================
   All Bootstrap LESS files
   ========================================================================== */

@import "bootstrap/bootstrap.less";


// Some variables
@stickyFooter: 40px;

/* ==========================================================================
   Basic Styles, put yours here!
   ========================================================================== */
html, body{
	height: 100%;
}
body{
	background: #1F2A2D url('../img/bg.jpg') center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar{
	border-radius: 0px;
	border: none;
	background-color: rgba(236, 251, 255, 0.5);

	.navbar-header{
		text-align: center;
		float: none;
	}

	.navbar-brand{
		display: block;
		margin: 0 auto;
		color: #7E7E7E;
		float: none;
		text-shadow: 1px 1px 0px #eaeaea;

		&:hover{
			cursor: pointer;
			color: #3275C1;
		}
	}
	
	.navbar-toggle{
		display: none;
	}
}

.heavy-shadow{
	.box-shadow(0px 0px 20px #111);
	margin-bottom: 7em;
}

.text-light{
	text-shadow: 1px 1px 1px #000;
	color: #fff;

	a{
		color: #A6E9FF;
	}
}

// Specify modal size via ui-bootstrap's windowClass param for modals
.modal-large{
	.modal-dialog{
		width: @modal-lg;
	}
}

// sticky footer
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@stickyFooter;
  /* Pad bottom by footer height */
  padding: 0 0 @stickyFooter;
}

/* Set the fixed height of the footer here */
#footer {
  height: @stickyFooter;
  line-height: @stickyFooter;
  
  
}

// search box spacing on mobile
.state-select-contain{
	margin-bottom: 0.5em;
}

/* ==========================================================================
   Media Queries, only included once a screen is a certain min width
   ========================================================================== */

// bootstrap breakpoints
@media (min-width: @screen-sm-min) {
	.state-select-contain{
		margin-bottom: 0em;
	}
}

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
