/* ==========================================================================
   All Bootstrap LESS files
   ========================================================================== */

@import "bootstrap/bootstrap.less";


// Some variables
@stickyFooter: 40px;

/* ==========================================================================
   Basic Styles, put yours here!
   ========================================================================== */
html, body{
	height: 100%;
}
body{
	background: #1F2A2D url('../img/bg.jpg') center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// favorites styling
.favorite{
	cursor: pointer;
	font-size: 1.5em;

	span{
		text-shadow: 1px 0px 0px #999;
	}

	&.fav{
		span{
			color: #FFD700;
		}
	}
}

// for highlighting your search term
.ui-match{
	font-weight: bold;
}

.navbar{
	border-radius: 0px;
	border: none;
	background-color: rgba(236, 251, 255, 0.5);

	.navbar-brand{
		color: #7E7E7E;
		text-shadow: 1px 1px 0px #eaeaea;

		&:hover{
			cursor: pointer;
			color: #3275C1;
		}
	}	
}

.heavy-shadow{
	.box-shadow(0px 0px 20px #111);
	margin-bottom: 4em;
}

.text-light{
	text-shadow: 1px 1px 1px #000;
	color: #fff;

	a{
		color: #A6E9FF;
	}
}

// Specify modal size via ui-bootstrap's windowClass param for modals
.modal-large{
	.modal-dialog{
		width: @modal-lg;
	}
}

// sticky footer
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@stickyFooter;
  /* Pad bottom by footer height */
  padding: 0 0 @stickyFooter;
}

/* Set the fixed height of the footer here */
#footer {
  height: @stickyFooter;
  line-height: @stickyFooter;
  
  
}

// search box spacing on mobile
.state-select-contain{
	margin-bottom: 0.5em;
}

/* ==========================================================================
   Media Queries, only included once a screen is a certain min width
   ========================================================================== */

// bootstrap breakpoints
@media (min-width: @screen-sm-min) {
	.state-select-contain{
		margin-bottom: 0em;
	}
}

@media (min-width: @screen-md-min) { 

}

@media (min-width: @screen-lg-min) { }


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.table-main{


		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead {
			tr{ 
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
		}

		.table{
			tbody{
				tr { 
					border-bottom: 2px dashed #ccc; 

					td { 
						/* Behave  like a "row" */
						border: none;
						border-bottom: 1px solid #eee; 
						position: relative;
						padding-left:40%; 
					}
					
					td:before { 
						/* Now like a table header */
						position: absolute;
						/* Top/left values mimic padding */
						top: 6px;
						left: 6px;
						width: 35%; 
						padding-right: 10px; 
						white-space: nowrap;
					}

							/*
		Label the data
		*/
		td:nth-of-type(1):before { font-weight: bold; content: ""; display: none;}
			td:nth-of-type(1) { padding-left: 0;}
		td:nth-of-type(2):before { font-weight: bold; content: "Site Name"; }
		td:nth-of-type(3):before { font-weight: bold; content: "Discharge"; }
		td:nth-of-type(4):before { font-weight: bold; content: "Gage Height"; }
		td:nth-of-type(5):before { font-weight: bold; content: "Temperature"; }
		td:nth-of-type(6):before { font-weight: bold; content: "CFS Graph"; }


				}
			}
		}
				
	}
}