<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" ng-init="isCollapsed = true" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">River Stats</a>
    </div>
    <div class="collapse navbar-collapse" collapse="isCollapsed">
      <ul class="menu nav navbar-nav">
<!--
        <li>
          <a href="#/home" ng-click="isCollapsed = true">home</a>
        </li>
         <li>
          <a href="#/chat" ng-click="isCollapsed = true">chat</a>
        </li>

        <li ng-show-auth="logout,error">
          <a href="#/login" ng-click="isCollapsed = true">login</a>
        </li>
        <li ng-show-auth="login">
          <a href="#/account" ng-click="isCollapsed = true">account</a>
        </li>
        <li ng-show-auth="login">
          <a href="#/logout" ng-click="isCollapsed = true; logout()">log out</a>
        </li>
-->
       </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>