<br>

<div class="panel panel-primary table-responsive heavy-shadow">
  <!-- Default panel contents -->
  <div class="panel-heading">Find Your River</div>

	<div class="panel-body bg-info">
		<div class="row">
			<div class="col-md-6">
				<select name="state" autofocus class="form-control" placeholder="Select One" data-ng-model="searchState" data-ng-change="updateSites()">
					<option value="" selected="selected" disabled="disabled">Choose a State</option>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select>		
			</div>
			<div class="col-md-6">
				<input type="text" class="form-control" id="search-site" placeholder="Search Flow Sites..." ng-model="searchSite">
			</div>
		</div>
	</div>
	<table class="table table-hover table-bordered" ng-show="sites">
		<thead>
			<tr>
				<th>Site Name</th>
				<th>Discharge</th>
				<th>Gage Height</th>
				<th>Temperature</th>
				<th>CFS Graph</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="site in sites | filter:{sourceInfo.siteName : searchSite}">
				<td><span ng-bind-html="site.sourceInfo.siteName | highlight:searchSite"></span></td>
				<td ng-bind-html="site.values[0].value[0].value | formatData:'(ft&#179;/s)'"></td>
				<td ng-bind-html="heights[$index].values[0].value[0].value | formatData:'(ft)'"></td>
				<td ng-bind-html="temps[$index].values[0].value[0].value | formatData:'(&deg;F)'"></td>
				<td>
					<span class="text-muted text-center center-block" ng-hide="site.values[0].value[0].value > 0">Unavailable</span>
					<a class="btn bg-info center-block" ng-show="site.values[0].value[0].value > 0" ng-click="showGraph(site.sourceInfo.siteCode[0].value, site.sourceInfo.siteName)">
						<span class="glyphicon glyphicon-stats"></span>
						 CFS Graph
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
    <script type="text/ng-template" id="siteGraph.html">
        <div class="modal-header">
            <h3 ng-cloak>{{siteName}}</h3>
        </div>
        <div class="modal-body">
			<img ng-src="http://waterdata.usgs.gov/nwisweb/graph?parm_cd=00060&site_no={{siteCode}}"  width="100%" alt="USGS Water-data graph for site {{siteCode}}"> 
        </div>
        <div class="modal-footer">        
            <button class="btn btn-warning" ng-click="cancel()">Close</button>
        </div>
    </script>